*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none !important;
}

.nav{
    background-color: #d84f57;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 10px;
}

.logo{
    margin: 0 10px;
    border-top: 3px solid;
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px 2px;
    display: flex;
    flex-direction: column;
}

.logo p{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    font-family: cursive;
}

.logo-img{
    width: 60px;
}

.search-form{
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.form-div{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.form-input{
    outline: none;
    border: none;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
}

.search-btn, .exchange{
    margin-top: 22px;
    font-size: 20px !important;
    color: #fff !important  ;
    cursor: pointer;
}

.search-btn:hover{
    color: #fff;
}

.user-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-details a{
    color: #fff !important;
    margin: 0 10px;
}

.user-details a:hover{
    font-weight: bold;
    background: transparent;
}

.dropdown-menu{
    background-color: #dc3545 !important;
}

.drpbtn{
    background-color: #d84f57 !important;
    border: none !important;
}
.seat{
    cursor: pointer;
}
.seat-taken{
    cursor: default;
}
.seat>span>img{
    width: 69px;
    height: 69px;
}
.seat>input{
    display: none;

}

.bus{
    margin: 7%;
    border: solid 3px black ;
}
.fair-card{
    margin-top: 15%;
}
#loc-list, #loc-list-to{
    height: 10px;
    z-index: 1;
}

.list-group-item{
    cursor: pointer;
}

.error{
    font-size: 10px;
}
.booking-confirm{
    height: 65vh;
}

.buses{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 150px;
    display: none;
}

.bus-details{
    height: 100px;
    width: 100%;
    border: 1px solid #d84f57;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    position: relative;
    cursor: pointer;
}

#go-time{
    position: absolute;
    left: 10px;
    top: 10px;
}

#bus-route{
    position: absolute;
    left: 100px;
    font-size: 15px;
    font-weight: 500;
}

#bus-name{
    position: absolute;
    top: 50px;
    left: 50px;
}
#bus-routes{
    position: absolute;
    top: 71px;
    left: 50px;;
}

#fare{
    position: absolute;
    right: 10px;
    bottom: 0;
    color: #f70715;
}

#reach-time{
    position: absolute;
    right: 10px;
}

.bus-book{
    width: 100%;
}
.bus-details.bgclr{
    background-color: #e3e1e1;
}
.page-link{
    border: 1px solid #d74c54 !important;
}
a.page-link.active{
background-color: #d84f57 !important;
color: white !important;
}
.pagination{
    padding-left: 11px !important;
}
.user-detail{
    height: 500px;
    width: 50%;
    border: 1px solid #d84f57;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    position: relative;
}
#det{
    font-size: 32px;
}
#bus-message{
    position: absolute;
    top: 20px;
    left: 30%;
    font-size: 30px;
    color: #ff0d0d;
}
#seatz{
    position: absolute;
    right: 10px;
    margin-top: 27px;
}